<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930014640356-rqsi00ubr1ntprlmvvkm1iu50ljd5avi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930014640356-rqsi00ubr1ntprlmvvkm1iu50ljd5avi</string>
	<key>API_KEY</key>
	<string>AIzaSyDbLLvmfT_u-0hcr2X5Hmhky50vUS6j28k</string>
	<key>GCM_SENDER_ID</key>
	<string>930014640356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brainbites</string>
	<key>PROJECT_ID</key>
	<string>brainbites-bfd47</string>
	<key>STORAGE_BUCKET</key>
	<string>brainbites-bfd47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930014640356:ios:b979e6c3a523224ee114f1</string>
</dict>
</plist>